@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Manrope:wght@500;700&family=Outfit:wght@300;400;600&family=Red+Hat+Display:wght@500;700;900&family=Spartan:wght@400;500;700&display=swap');

:root{
/*///////// Colors ///////////*/
--Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
--Desaturated-Dark-Blue: hsl(214, 17%, 51%);
--Grayish-Blue: hsl(212, 23%, 69%);
--Light-Grayish-Blue: hsl(210, 46%, 95%);
}

*{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
}
html{
       /*Cada 1rem será considerado 10px*/
       font-size: 62.5%;
}
body{
       font-family: 'Manrope', sans-serif;
       font-size: 1.3rem;
       background-color:var(--Light-Grayish-Blue);       
       display: flex;
       justify-content: center;
       align-items: center;
       width: 100vw;
       height: 100vh;
               
}
main{       
       width: 33rem;      
       display: flex;
       flex-direction: column;
       align-items: center;
       background-color: white;
       border-radius: 1rem;
       margin: 0 auto;
}
section.left img{    
       width: 33rem;
       height: 20rem;  
       object-fit: cover;  
       object-position: 0 32%; 
       border-radius: 1rem 1rem 0 0;           
}
section.right header{
       padding: 3rem 2.8rem 1.5rem;
}
section.right header h2{
       font-size: 1.7rem;       
       color: var(--Very-Dark-Grayish-Blue);
}
section.right > p{
       padding: 0 2.8rem;
       font-size: 1.3rem;
       color: var(--Desaturated-Dark-Blue);
       line-height: 2rem;
}
footer{
       position: relative;
}
footer address{
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 3rem 2.8rem;
}
footer address .people{
       display: flex;
       align-items: center;
}
footer address .people img{
       width: 4rem;
       height: 4rem;
       border-radius: 50%;
       margin-right: 2rem;
}
footer address .people p{
      font-style: normal;
      font-weight: 700;
      color: var(--Very-Dark-Grayish-Blue);
}
footer address .people span{
       display: block;
       font-style: normal;
       font-weight: 400;
       color: var(--Grayish-Blue);
}
footer address button{       
       width: 3.3rem;
       height: 3.3rem;
       display: flex;
       justify-content: center;
       align-items: center;
       border-radius: 50%;
       border: none;
       cursor: pointer;       
}
.share{
       position: absolute;   
       display: none; 
       justify-content: space-around;
       align-items: center;  
       padding: 0 3rem; 
       top: -7.5rem;
       left: 22.5rem;
       width: 250px;
       height: 55px;
       border-radius: 1rem;
       background-color: var(--Very-Dark-Grayish-Blue); 
       z-index: 1;      
}
/* triangulo feito com bordas*/
.share::after{
       content: ' ';
       position: absolute;
       top: 42px;
       left: 40%;
       width: 0;
       height: 0;       
       border-left: 25px solid transparent;
       border-right: 25px solid transparent;
       border-top: 25px solid var(--Very-Dark-Grayish-Blue);
}
.share img{
       width: 2rem;
       height: 2rem;
}
.share > p{
       color: var(--Grayish-Blue);
       letter-spacing: 0.7rem;
}

@media screen and (min-width: 700px){
       
       main{
              width: 735px;  
              height: 285px;             
              flex-direction: row;                 
       }
       section.left img{    
              width: 288px;
              height: 285px;  
              object-fit: cover;  
              object-position: 0 32%; 
              border-radius: 1rem 0 0 1rem;           
       }   
       section.right{
              padding: 4rem;
       }      
       section.right header{
              padding: 0;
              margin-bottom: 1rem;
       }   
       section.right header h2{
              font-size: 2rem;            
       }
       section.right > p{
              padding: 0 ; 
              margin-bottom: 2rem;  
       }  
       footer address{             
              padding: 0;             
       }       
}